
body{
	background-color: #000;
}
h1{
	background: red;
	text-align:center;
}
.importante{
	text-align:center;
	crop:5;
}
#nombre{
	background:#C9C;
}
.apellido{
	background:#FF0;	
}
.clear{
	clear:both;
}
.content{
	background-color:#000;
	/*width: 660px; */
}
.caja1 {
	width: 215px;
	height: 215px;
	background:#FFF; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja2 {
	width: 215px;
	height: 215px;
	background:#F00; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja3 {
	width: 215px;
	height: 215px;
	background:#00F; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja4 {
	width: 215px;
	height: 215px;
	background:#FF0; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja5 {
	width: 215px;
	height: 215px;
	background:#F0F; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja6 {
	width: 215px;
	height: 215px;
	background:#0F0; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja7 {
	width: 215px;
	height: 215px;
	background:#999; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}
.caja8 {
	width: 215px;
	height: 215px;
	background:#903; 
	text-align:center;
	float:left;
	margin: 5px 5px;
}